@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

@layer base {
  body.dark {
    --brand: theme('colors.cyan.400');
    --bg-1: theme('colors.trueGray.900');
    --bg-2: #0F1011;
    --fg-1: theme('colors.warmGray.800');
    --txt-1: theme('colors.coolGray.300');
    --txt-2: theme('colors.coolGray.200');

    --syntax-background: #1b1c24;
    --syntax-comment: #6272a4;
    --syntax-text: #f8f8f2;
    --syntax-operator: #8be9fd;
    --syntax-string: #50fa7b;
    --syntax-number: #ffb86c;
    --syntax-primary: #ff70c2;
    --syntax-keyword: #bd93f9;
    --syntax-html-tag: #ff5555;
    --syntax-boolean: #f1fa8c;
  }

  body.light {
    --brand: theme('colors.cyan.600');
    --bg-1: theme('colors.gray.50');
    --bg-2: theme('colors.white');
    --fg-1: theme('colors.warmGray.100');
    --txt-1: theme('colors.gray.600');
    --txt-2: theme('colors.trueGray.700');


    --syntax-background: #1b1c24;
    --syntax-comment: #6272a4;
    --syntax-text: #f8f8f2;
    --syntax-operator: #8be9fd;
    --syntax-string: #50fa7b;
    --syntax-number: #ffb86c;
    --syntax-primary: #ff70c2;
    --syntax-keyword: #bd93f9;
    --syntax-html-tag: #ff5555;
    --syntax-boolean: #f1fa8c;
  }
  
  html,
  body,
  #__next {
    @apply w-full h-full p-0 m-0 overflow-auto text-gray-600 bg-bg-1 dark:text-coolGray-300;
  }

  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif; 

  }

  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
  
  *::selection {
    @apply text-cyan-600 bg-cyan-600/20;
  }

  .link {
    @apply text-pink-600 no-underline hover:underline;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-5 text-trueGray-700 dark:text-coolGray-200;
  }

  ::-moz-color-swatch{
    border-color: transparent;
  }

  input{
    @apply block p-2 mt-1 transition-all duration-150 rounded-sm outline-none bg-warmGray-200 dark:bg-warmGray-800;
  } 

  input:hover, input:focus{
    box-shadow: 0 0 0 4px rgba(8, 145, 178, 0.1);
    @apply bg-gray-50 dark:bg-[#0F1011];
  }
  input:focus{
    outline: 1px solid rgba(8, 145, 178, 0.3);
    outline-offset: -1px;
  }

  :is(input[type="radio"], 
  input[type="checkbox"]):focus {
    outline: none;
  }

  .pill{
    @apply px-2 py-1 rounded-lg w-max;
  }
  .pill.active{
    @apply text-brand bg-cyan-600/20 dark:bg-cyan-400/20;
  }
  .pill.info{
    @apply text-sky-600 bg-sky-600/20;
  }
  .pill.danger{
    @apply text-red-600 bg-red-600/20;
  }
  .pill.warning{
    @apply text-yellow-600 bg-yellow-600/20;
  }
  .pill.success{
    @apply text-green-600 bg-green-600/20;
  }
  
  h1{
    @apply text-3xl font-extrabold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  :not(pre) > code {
    background: var(--syntax-background);

    font-family: 'Fira Code', monospace;
    @apply rounded-sm mx-1 py-[2px] px-2 text-sm transition-colors duration-300;
  }

  ol{
    counter-reset: count;
  }

  li {
    @apply relative pl-6 my-3;
  }
  
  ol li::before {
    counter-increment: count;
    content: counter(count);
    @apply absolute font-mono text-sm left-1 text-trueGray-400 dark:text-warmGray-500 top-[2.8px];
  }

  ul li::before {
    content: '';
    @apply absolute bg-trueGray-400 dark:bg-warmGray-500  rounded-full w-1.5 h-1.5 left-1 top-2.5;
  }
}
