@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap');

.remark-highlight{
  margin: 2rem 0;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--stx-primary);

  background: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.85rem;

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}


@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*='language-'] {
  position: relative;

  padding: 1.5em 1em;
  overflow: auto;
  margin: 1.5em 0;
  border-radius: 14px;
}

@media screen and (max-width: 700px) {
  pre[class*='language-'] {
    margin: 0.5em 0;
    border-radius: 0;
    position: relative;
    width: 100%; /*Fallback for older browsers*/
    width: 100vw; /*Percentage of full screen viewing width*/
    left: calc(-50vw + 50%); /*Centres div*/
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--stx-bg);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--stx-cmnt);
}

.token.punctuation {
  color: var(--stx-punct);
  font-weight: 500;
}

.token.plain-text {
  color: var(--stx-txt);
}

.token.selector,
.token.tag {
  color: var(--stx-tag);
}

.token.property {
  color: var(--stx-oprtr);
}

.token.number {
  color: var(--stx-num);
}

.token.boolean {
  color: var(--stx-bool);
}

.token.symbol,
.token.attr-name,
.token.deleted {
  color: var(--stx-attr);
}

.token.string,
.token.char,
.token.attr-value,
.token.inserted {
  color: var(--stx-str);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--stx-oprtr);
}

.token.operator {
  font-weight: 500;
}

.token.maybe-class-name, .token.builtin, .token.constant {
  color: var(--stx-type);
}

.token.atrule,
.token.keyword {
  color: var(--stx-key);
  font-weight: 500;
}

.token.function {
  color: var(--stx-func);
  font-weight: bold;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--stx-key);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.mdx-marker {
  background: #303240;
  border-left: 3px solid var(--stx-oprtr);
  margin-left: calc(-1em - 0.149%);
  margin-right: calc(-1em - 2%);
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: var(--stx-cmnt);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
